.container
	.footer
		hr(style='margin: 30px 0 10px 0;')
		p
			a(href='#') We are an anonymous collective of art hackers

link(rel='stylesheet', href='/css/style.css')
script(src='/scripts/bootstrap.min.js')
script(src='/scripts/tracking.js')
block footer