extends layout

block content

	div.container
		div
			p
				input(type="checkbox", name="version", checked=(true===false ? "checked" : undefined))
			img#myimg.img-responsive(src = 'http://rubberducknfk.com/images/front.jpg')
		div.bs-callout.bs-callout-warning
			div.row
				div.col-md-4
					h4.
						Call Me Sometime?
					i.glyphicon.glyphicon-earphone

					span.
						&nbsp;Did you know I have a phone number?
						It's (920) 75DUCKY.  Call me!
				div.col-md-4
					iframe(src="https://public.ducksboard.com/w/D31_0rea5jXGQnRgi9X8" width="250" height="146" frameborder="0" scrolling="no" style="border: solid rgba(38, 42, 50, 0.8) 10px; border-radius: 5px; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box;")
				div.col-md-4
					h4.
						We Need Hackers!
					img(src="/images/Octocat.png", width="50px").pull-left
					p
					| The duck is only here 5 more days!  If you are a coder, please take a look at&nbsp;
					a(href='https://github.com/RubberDuckNFK/RubberDuckNFK') our Github Repo
					|  we will accept any pull request!
		script.
			$(document).ready(function(){
				var sw = $('input[name="version"]');
				setInterval(function(){
					if(sw.is(':checked'))
					{
						$("#myimg").attr("src", "http://rubberducknfk.com/images/front.jpg?"+new Date().getTime());
					}
					else
					{
						$("#myimg").attr("src", "http://rubberducknfk.com/images/back.jpg?"+new Date().getTime());
					}},1000);

				sw.bootstrapSwitch('state', true, true);
				sw.bootstrapSwitch('onText', 'Front', true);
				sw.bootstrapSwitch('onColor', 'info', true);
				sw.bootstrapSwitch('offColor', 'info', true);
				sw.bootstrapSwitch('offText', 'Butt', true);
				sw.bootstrapSwitch('labelText', 'View', true);
				sw.bootstrapSwitch('size', 'large', true);
			});
