body{
    background-color: #ffCD00;
}

.bs-callout-warning h4 {
    color: #ffff00;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout-warning {
    background-color: #f0ad4e;
}
.bs-callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #000;
}